body

  .navbar {
    margin-right: 0px;
    margin-left: 0px;
    background:whitesmoke;
  }
  
  .navbar li {
    display: d-block;
    padding: 30px;
    margin-right: 0px;
    margin-left: 0px;
    cursor: pointer;
  }
  
  p{
      font-size: 16px;
      text-align: justify;
      text-decoration: underline;
      text-shadow: 1px 1px blue;
  }

  .navbar-brand {
    color: white;
    font-family: verdana;
    font-size: 20px;
    border: 1px solid rgb(22, 99, 150);
  }


